{% extends 'base.html' %}

{% block title %}Library{% endblock %}

{% block content %}
    <h1>Library</h1>
    <a href="{% url 'add_book' %}" class="btn btn-primary add-book">Add Book</a>
            <ol>
                {%for book in books%}
                <li>
                    <span class="book-title"><a href="{% url 'detail' pk=book.pk %}">{{ book.title }}</a></span>
                    <a href="{% url 'delete' pk=book.pk %}"><i class="bi bi-trash-fill"></i></a>
                    <a href="{% url 'update' pk=book.pk %}"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-primary" href="{% url 'users:login' %}" role="button">Logout</a>
                </li>
                {% endfor %}

            </ol>
{% endblock %}

